hr {
  margin: 0;
  opacity: .3;
}

.App {
  width: 70%;
  margin: auto;
  font-family: Quicksand;
}

.main-heading {
  margin-bottom: 0;
  font-family: Kanit;
  background-color: steelblue;
  color: #ffffff;
  font-weight: 400;
  padding: 0 20px;
}

.centered-heading {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.px5-margin {
  margin: 0 5px;
}

.link {
  text-decoration: none;
  color: #000000;
}
.link:hover {
  opacity: .5;
}

.coin-row, .header-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.coin-row-mobile, .header-row-mobile {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.table-top {
  position: sticky;
  z-index:100;
  top: 0;
  background: rgba(255, 255, 255, 1);
}

.header-column-name {
  font-family: Kanit;
}

.table-main-mobile {
  display: none;
}

.table-main:hover {
  background-color: #F1FAFA;
}
.table-main a {
  text-decoration: none;
  color: #000000;
}

.coin-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.coin-main-elements {
  margin-right: 5px;
}

.symbol {
  text-transform: uppercase;
  font-weight: bold;
}

/*Loader*/
.loader {
  border: 12px solid lightgray; /* Light grey */
  border-top: 12px solid steelblue; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
/*End Loader*/



/*Coin Page*/
.coinpage-ticker {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.coinpage-ticker-mobile {
  margin-top: 30px;
  display: none;
  justify-content: space-between;
  align-items: center;
}

/* .coin-general {
  width: 50%;
} */

.coinname {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-numbers {
  margin: auto;
}

.pill {
  padding: 5px;
  background: #eff2f5;
  border: 1px solid #eff2f5;
  border-radius: 5px;
}

.coinpage-stats-analysis {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
}

.chart {
  width: 70%;
}

.side-display {
  margin: 30px;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.side-display-divider {
  margin: 20px 0;
}

.coin-desc-desktop {
  padding: 20px;
}

.coin-desc-mobile {
  display: none;
  padding: 20px;
}
.under-display {
  display: none;
  padding: 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

@media (max-width: 1400px) {
  .App {
    width: 80%
  }
}

@media (max-width: 1000px) {
  .App {
    width: 90%;
  }
  .table-main {
    display: none;
  }
  .table-main-mobile {
    display: block;
  }
  .coin-row, .header-row {
    display: none;
  }
  .coin-row-mobile, .header-row-mobile {
    display: grid;
    justify-items: center;
  }
  .chart {
    width: 100%;
    margin: auto;

  }
  .coin-desc-desktop {
    display: none;
  }
  .coin-desc-mobile {
    display: block;
  }
  .side-display {
    display: none;
  }
  .under-display {
    display: block;
  }
}

@media (max-width: 750px) {
  .coinpage-ticker {
    display: none;
  }
  .coinpage-ticker-mobile {
    display: flex;
  }
  .coinpage-ticker-mobile h2 {
    font-size: 1.25rem;
  }
  .under-display h2 {
    font-size: 1.15rem;
  }
  .under-display h3 {
    font-size: 1.05rem;
  }
}

/*End Coin Page*/
