
.App {
  width: 70%;
  margin: auto;
  font-family: Quicksand;
}

.coin-row, .header-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.header-column-name {
  font-family: Ubuntu;
}

.coin-main {
  /* width: 250px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.coin-main-elements {
  margin-right: 5px;
}

.symbol {
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
