hr {
  margin: 0;
  opacity: .3;
}

.App {
  width: 70%;
  margin: auto;
  font-family: Quicksand;
}

.centered-heading {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.px5-margin {
  margin: 0 5px;
}

.link {
  text-decoration: none;
  color: #000000;
}
.link:hover {
  opacity: .5;
}

.coin-row, .header-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.table-top {
  position: sticky;
  z-index:100;
  top: 0;
  background: rgba(255, 255, 255, 1);
}

.header-column-name {
  font-family: Kanit;
}

.table-main:hover {
  background-color: #F1FAFA;
}
.table-main a {
  text-decoration: none;
  color: #000000;
}

.coin-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.coin-main-elements {
  margin-right: 5px;
}

.symbol {
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Coin Page*/
.coinpage-ticker {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

/* .coin-general {
  width: 50%;
} */

.coinname {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-numbers {
  margin: auto;
}

.pill {
  padding: 5px;
  background: #eff2f5;
  border: 1px solid #eff2f5;
  border-radius: 5px;
}

.chart {
  width: 70%;
}
/*End Coin Page*/
